html {
    height: 100%;
    margin: 0;
    background-color: white;
  }

  body {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    background-color: white;
  }

  .yoverflow {overflow-y: hidden;}
  
  h3 {
    text-align: center;
    padding-top: 2.3rem;
    font-size: 1rem;
  }

  h6 {
    color: rgb(0, 0, 0);
    margin-top: 4px;
  }
  


  
  /**************************** General Sections *************************/
  
  .top-section {
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100vw;
    box-sizing: content-box;
    background-color:#ffffff;
  }


  .top-section3 {
    position: relative;
    z-index:2;
    height: 5vh;
    width: 100vw;
    background-color: white;
  }



  @keyframes up {
    from {opacity: 0; }
    to {opacity: 1;}
  }

  @keyframes down {
    from {opacity: 0.9;}
    to {opacity: 0; }
  }

  @keyframes big {
    from {height: 0; width: 0;}
    to {height: 100vh; width: 100vw;}
  }

  @keyframes small {
    from {height: 100vh; width: 100%;}
    to {height: 0; width: 0; }
  }

  .holder {
    position: absolute;
    left:73%;
    top:25%;
    transform: translate(-50%, -50%);
    width: 60%;
    z-index: 5;
  }

  .bookshop {
    position: absolute;
    left: 34%;
    top: 15%;
    width: 65%;
    z-index: 5;
  }

  .cmm {
    position: absolute;
    left:70%;
    top:50%;
    transform: translate(-50%, -50%);
    width: 60%;
    z-index: 5;
  }

  .project {
    width: 100%;
  }
  
  .blackproject {
    position: absolute;
    z-index: 3;
    background-color: black;
    width: 85%;
    height: 85%;
    opacity: 0;
    left: 8%;
    bottom: 10%;
  }

  .coverup {
    position: absolute;
    z-index: 6;
    width: 85%;
    height: 85%;
    opacity: 1;
    left: 8%;
    bottom: 10%;
  }

  .projectref {
    position: absolute;
    z-index: 6;
    width: 85%;
    height: 85%;
    opacity: 1;
    left: 8%;
    bottom: 10%;
  }


  .col-xl-6.bottomRow {
    margin-top: 100px;
  }

  @media (max-width: 1200px) {.col-xl-6.bottomRow {margin-top: 0; }}


  #myImage {
    position: absolute;
    padding-left: 5vw;
    right:7%;
    bottom: -2%;
    width:80vh;
    z-index: 0;
  }


  #myImageShadow {
    position: absolute;
    right:7%;
    bottom: -1%;
    width: 75vh;
    height: 40vh;
    background: linear-gradient(180deg, #FFFFFF 0.07%, rgba(255, 255, 255, 0.48) 43.38%, rgba(255, 255, 255, 0) 97.25%);
    transform: rotate(-180deg);
    z-index: 1;
  }

  @media (max-width: 1350px) {#myImage {width:75vh; right:2%} #myImageShadow {width:70vh; right:2%}} 
  @media (max-width: 1200px) {#myImage {width:65vh; right:2%} #myImageShadow {width:60vh; right:2%}} 
  @media (max-width: 1100px) {#myImage {width:60vh; right:2%} #myImageShadow {width:55vh; right:2%}} 


  .software-engineer {
    white-space: nowrap;
    font-size: 14vh;
    top: 17vh;
    position: absolute;
    color: #FFFFFF;
    display: flex;
    align-items:center;
    justify-content:center;
    width: 100%;
    text-shadow: 0px 4px 15px rgba(196, 193, 193, 0.25);
  }

  @media (max-width: 1450px) {.software-engineer {font-size: 700%; }}
  @media (max-width: 1200px) {.software-engineer {font-size: 600%; }}
  @media (max-width: 1025px) {.software-engineer {font-size: 500%; }}
  @media (max-width: 875px) {.software-engineer {font-size: 400%; }}
  @media (max-width: 600px) {.software-engineer {z-index: -2; font-size: 0; }}
  

  .project-buttons {
    position: absolute;
    z-index: 6;
    background-color: #FF914D;
    color: black;
    font-weight: 600;
    left:15.6%;
    top: 62%;
  }


  .project-details {
    position: absolute;
    width: 50%;
    background-color: rgb(0, 0, 0, 0.9);
    color: white;
    bottom: 0;
    height: 20vh;
    z-index: 9;
  }


  

  /**************************** Nav Section *************************/
  .container-fluid.nav-contain {
    padding: 3% 7% 5%;
  }
  
  .nav-item.nav-selectors {
    padding-left: 1rem;
  }
  
  .nav-item.nav-checkout {
    padding: 0;
  }

  .navbar.navbar-dark {
    z-index: 2;
  }
  
  .nav-link {
      font-size: 1.5vh;
      font-family: 'Montserrat', 'Monsieur La Doulaise';
      font-weight: 300;
  }

  .navbar.navbar-dark.navbar-expand-lg {
    padding: 1vh 0;
  }
  
  .navbar-brand {
    font-family: "Open Sans";
    font-size: 1.5vh;
    letter-spacing: 0.2em;
    font-weight: bold;
  }
  
  .navbar-dark .navbar-brand {
    color: rgb(0, 0, 0);
  }

  .navbar-dark .navbar-brand:hover {
    color: rgb(0, 0, 0);
  }

  
  .navbar-dark .navbar-nav .nav-link {
    color: rgb(0, 0, 0);
  }
  
  .navbar-dark .navbar-nav .nav-link:defined {
    color: rgb(0, 0, 0);
  }

  .navbar-dark .navbar-nav .nav-link:hover {
    color: rgb(0, 0, 0, 0.7);
  }

  
  .logo {
    width: 3.6vh;
  }


  .navbar-dark .navbar-toggler-icon {
    background-image: url("/Images/menu\ \(1\).svg")
  }

  .navbar-toggler.collapsed {
    padding: 0;
  }
  
  
  /**************************** Top Section *************************/
  .div-back {
    position: absolute;
    top: 45vh;
    width: 40vw;
    left:10vw;
  }

  .div-back2 {
    position: absolute;
    top: 35vh;
    width: 70vw;
    left: 50%;
    transform: translate(-50%, 0%);
    text-align: center;
  }

  .top-heading {
    font-family: 'Ubuntu', 'Monsieur La Doulaise';
    font-weight: 200;
    font-size: 1.8vh;
    line-height: 1.5;
    color: rgb(0, 0, 0);
    /* text-align: center; */
  }

  .specialFont {
    font-family: titleFont;
    font-size: 4.5vh;
    color: rgb(0, 0, 0);
    /* text-align: center; */
  }

  .buttons {
    margin-top: 2vh;
  }

  .btn {
    padding: 1px 1px;
  }

  .resume {
    margin-left: 35px;
    padding: 0.8px 8px;
  }

  .homeButtons {
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 1.5vh;
  }

  .homeButtons:hover {
    text-decoration: none;
    color: white;
  }


  
  .container-fluid.row-contain {
      padding: 3% 12% 7%;
  }
  
  
  #sonar-emitter .nav-link {
    height: 15px;
    width: 45px;
    position: absolute;
    top:30%;
    left: 50%;
    margin-left: -22px;
    z-index: 2;
  }


  .icon-bar {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
  }
  
  .icon-bar a:hover {
    background-color: #000;
  }


  
  /**************************** Middle Section *************************/

  #middle .section-title {
    padding-top: 80px;
    margin-bottom: 60px;
  }


  .left-align {
    margin-top: 2vh;
    text-align: left;
    padding-left: 6%;
  }

  .left-align li {
    margin: 1vh;
  }


  

  
  /**************************** Sonic Background Section *************************/
  /* Prevent scrollbars to appear when waves go out of bound */
  #sonar-wrapper {
    position: absolute;
    z-index: 2;
    overflow: hidden;
    bottom: 0px;
    width: 100%;
    padding: 4rem;
  }
  
  #section10 a {
    padding-top: 60px;
  }
  #section10 a span {
    position: absolute;
    top:35%;
    left: 50%;
    width: 20px;
    height: 35px;
    margin-left: -15px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 50px;
    box-sizing: border-box;
  }
  #section10 a span::before {
    position: absolute;
    top: 3px;
    left: 50%;
    content: '';
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background-color: rgb(0, 0, 0);
    border-radius: 100%;
    -webkit-animation: sdb10 2s infinite;
    animation: sdb10 2s infinite;
    box-sizing: border-box;
  }

@-webkit-keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb10 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}




/**************************** Skills Section *************************/

.about-section {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100vw;
  box-sizing: content-box;
  background-color:#ffffff;
}

#about-section .container.about-container{
  padding-top: 11vh;
}  

.about-container .section-title {margin-bottom: 60px;}


#about-section .specialFont {
  font-size: 5vh;
  text-align: center;
  padding-bottom: 8vh;
}

#about-section .box{
  margin-top: 2vh;
}


#about-section .contact-info {
  margin-bottom: 30px;
  text-align: center;
}


@media (min-width: 1200px){
    .container, .container-lg, .container-md, .container-sm, .container-xl {
      max-width: 75vw;
  }
}

.contact-info .col-md-4 {
  margin-right: 0;
}

.card {
  width:100%;
  min-height:40vh;
  background:#fff;
  box-shadow:0 20px 50px rgba(0,0,0,.1);
  border-radius:10px;
  transition:0.5s;
  margin-top: 5vh;
}

.card:hover {
    box-shadow:0 30px 70px rgba(0,0,0,.2);
}

.card .box {
    position:absolute;
    left:0;
    text-align:center;
    padding:20px;
    box-sizing:border-box;
    width:100%;
}


.card .box ul li:hover a {
    color:#e91e63;
    transform:rotateY(360deg);
}


.skills-icon {
  position: absolute;
  width: 100px;
}

.icon-size {
  position: absolute;
  width: 85px;
}

#about-section .container.skills-bar{
  min-width: 100%;
  padding: 0;
}

@media (max-width: 1300px){#about-section .container.skills-bar{min-width: 150vw;}}

.icons {
  position: relative;
  width: 100vw;
  height: 250px;
  padding: 0;
  animation: myanimation 50s infinite linear;
  z-index: 9;
  display: flex;
  align-items:center;
  justify-content:center;
  background: linear-gradient(179.96deg, #959595 0.04%, rgba(255, 255, 255, 0) 218.78%);
  top: 150px;
}

.icons2 {
  position: relative;
  width: 100vw;
  height: 250px;
  padding: 0;
  animation: myanimation2 50s infinite linear;
  z-index: 9;
  display: flex;
  align-items:center;
  justify-content:center;
  background: linear-gradient(179.96deg, #959595 0.04%, rgba(255, 255, 255, 0) 218.78%);
  top: -100px ;
}

.js {left:0%;}

.vba {left: 8.33%;}

.vb {left: 16.66%;}

.htmlIcon {left:24.99%;}

.vbsIcon {left:33.32%;}

.sql {left:41.65%;}

.react {left:49.98%;}

.nodeJS {left:58.31%;}

.figma {left:66.64%;}

.cssIcon {left:74.97%;}

.android {left:83.3%;}

.java {left:91.63%;}

.programming {
  position: relative;
  margin:0 auto;
  top: -75px;
}

@keyframes myanimation
{
    0% {
        left: 0%;
    }
    100% {
        left: 100%;
    }
}

@keyframes myanimation2
{
    0% {
        left: -100%;
    }
    100% {
        left: 0%;
    }
}



 
/**************************** Contact Section *************************/
#contact-section.container-fluid {
  padding-left: 0;
  margin-top: -45px;
  padding: 0;
}


@media (max-width: 1000px){#contact-section.container-fluid { margin-top: 75px;}}


#contact-section .specialFont {
  font-size: 5vh;
  text-align: center;
  padding-bottom: 9vh;
}


#contact-section .container {
  padding-top: 7vh;
}

.contact .info {
  width: 100%;
  background: #fff;
}

.contact .info i {
  font-size: 20px;
  color: #ef6603;
  float: left;
  width: 44px;
  height: 44px;
  background: #ffecde;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #2a2c39;
}

.contact .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: #555974;
}

.contact .info .email, .contact .info .phone {
  margin-top: 40px;
}

.contact .info .email:hover i, .contact .info .address:hover i, .contact .info .phone:hover i {
  background: #ef6603;
  color: #fff;
}

.contact  .form-group {
  padding-bottom: 8px;
}


.contact input, .contact textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}


.contact input {
  height: 44px;
}

.contact textarea {
  padding: 10px 12px;
}

.contact button[type="submit"] {
  background: #ef6603;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}

.contact button[type="submit"]:hover {
  background: #fc8129;
}

input[type="button"] {
  border: none;
  outline: none;
}


.section-title {
  padding-bottom: 40px;
}

.section-title h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 5px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #aaaaaa;
  font-family: "Poppins", sans-serif;
}

.section-title h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: #fd9042;
  margin: 4px 10px;
}

.section-title p {
  margin: 0;
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #2a2c39;
}


/**************************** Footer Section *************************/

#footer {
  position: absolute;
  width: 100%;
  color: white;
  background-color: black;
  height: 13%;
  text-align: center;
  margin-top: 15vh;
}

.social-icon {
  margin: 30px 12px 15px 12px;
}


@media (max-width: 768px) {

  #footer {
    height: 15%;
  }
}

.contact-button {
  text-align: center!important;
  width: 150px;
  margin: 0 auto ;
}





/********************************** PROJECT DESCRIPTION SECTION **********************************/
#content2 {
  height: 100vh;
  position: absolute;
  z-index: 7;
  background-color: white;
}

#content2 .section-title {
  padding-top: 40px;
  padding-left: 15px;
}

p {margin-bottom: 0;}

.noDisplay {display: none;}


#project-page.container-fluid {padding: 0; width: 100%; opacity: 0; animation: up 0.5s ease both;}
#project-page.holderproject.container-fluid {padding: 0; width: 100%; opacity: 0; animation: up 0.5s ease both;}

#project-page, #project-page.holderproject  {
  min-height: 100vh;
}

#project-page.warboardpage ul {margin-left: 40px;}

#project-page.container-fluid {padding: 0;}
#project-page.holderproject.container-fluid {padding: 0;}

#project-page .container {min-width: 85%;}
#project-page.holderproject .container {min-width: 85%;}


.project-description {
  margin-top: 10px;
  margin-bottom: 10px;
}

.informationRow {
  margin-top: 30px;
}
.holderRow {
  padding-left: 200px;
  padding-right: 200px;
}

.listh2 {margin-left: 40px;}

.myVideo {
  width: 100%;
  padding-left: 23%;
  padding-right: 23%;
}

.myVideo2 {
  width: 100%;
  padding-left: 3%;
  padding-right: 3%;
}

.bookShopButtons { 
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.liveDemobtn, .viewCodebtn {
  margin: 0 10px;
}

.myImageHolder {
  width: 100%;
  padding-left: 25%;
  padding-right: 25%;
}

.techbox {
  border: 1px black solid;
  padding: 2px 8px;
  margin-right: 10px;
  margin-bottom: 5px;
}

.close {
  position: absolute;
  bottom: 1.7vh;
  height: 5vh;
  width: 5vh;
  border: 2px black solid;
  border-radius: 100%;
  left:50%;
  transform: translate(-50%, -50%); 
  z-index: 5;
}

.center-icon {
  position: relative;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%); 
} 

@media (max-width: 1200px) {#project-page .myVideo{padding: 0 10% }}

/* Media max width 992 for warboard project */
@media (max-width: 992px) {
  #project-page p{font-size: small;}
  #project-page ul {font-size: small;}
  #project-page .myVideo{padding: 0 5%}
  #project-page h2 {font-size: x-large;}
  #project-page .project:nth-child(1) {margin-top: 15px;}
  #project-page .section-title p {font-size: 25px;}
  #project-page .section-title h2 {font-size: 10px;}
  #project-description {text-align: center;}

  #project-page.holderproject .project {margin-top: 25px;}
  #project-page.holderproject .section-title {padding-bottom: 0px;}
  .myVideo2 {padding: 0 7%;}
  .projectT { justify-content: center;}
  .listh2 {margin: 0 auto;}
  h2 {margin: 0 auto;}
}

@media (max-width: 690px) {
  #project-page.holderproject p{font-size: small;}
  #project-page.holderproject ul {font-size: small;}
  #project-page.holderproject .myVideo2{padding: 0;}
  #project-page.holderproject h2 {font-size: x-large;}
  #project-page.holderproject .section-title p {font-size: 25px;}
  #project-page.holderproject .section-title h2 {font-size: 10px;}
}


@media (max-width: 580px) {p{padding: 0 15px }}