
body, html {
    height: 100%;
    margin: 0;
  
  }
  
  h3 {
    text-align: center;
    padding-top: 2.3rem;
    font-size: 1rem;
  }

  h6 {
    color: rgb(0, 0, 0);
    margin-top: 4px;
  }
  
  hr {
    border-width: 0.10rem;
    /* border-color: rgb(42, 199, 199); */
    border-color: #2bcff7;
    width: 30%;
  }

  .titleHR {
    border: dotted #728d8d 6px;
    border-bottom: none;
    width: 10%;
  }

  .center-vertical {
    text-align: center;
  }
  
  
  /**************************** General Sections *************************/
  
  .top-section {
      height: 100vh;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      width: 100%;
      box-sizing: content-box;
      /* background: linear-gradient(179.94deg, #000000 11.31%, rgba(68, 68, 68, 0.734375) 51.93%, rgba(255, 255, 255, 0) 99.95%), #958787; */
      background-image: url(/Images/Frame\ 1\ \(4\).png) ;
  }
  

  

  /**************************** Nav Section *************************/
  .container-fluid.nav-contain {
    padding: 3% 7% 5%;
  }
  
  .nav-item.nav-selectors {
    padding-left: 1rem;
  }
  
  .nav-item.nav-checkout {
    padding: 0;
  }
  
  .nav-link {
      font-size: 0.9rem;
      font-family: 'Montserrat', 'Monsieur La Doulaise';
      font-weight: 300;
  }

  .navbar.navbar-dark.navbar-expand-lg {
    padding-left: 0;
    padding-right: 0;
  }
  
  .navbar-brand {
    font-family: "Sonsie one";
    font-size: 1.5rem;
    letter-spacing: 0.5em;
  }
  
  .navbar-dark .navbar-brand {
    color: rgb(0, 0, 0);
  }
  
  .navbar-dark .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
  }
  
  
  
  /**************************** Top Section *************************/
  .top-heading {
    font-family: 'Ubuntu', 'Monsieur La Doulaise';
    font-weight: 200;
    font-size: 1rem;
    line-height: 1.5;
    color: rgb(255, 255, 255);
    text-align: center;
  }

  .specialFont {
    font-family: titleFont;
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
    color: rgb(255, 255, 255);
  }
  
  .container-fluid.row-contain {
      padding: 3% 12% 7%;
  }
  
  .div-back {
    position: relative;
    top: 15%;
  }
  
  .sonar-emitter .nav-link {
    height: 75px;
    width: 75px;
  }
  
  .center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  
  /**************************** Middle Section *************************/
  .middle-section {
      text-align: center;
      background: rgb(99, 97, 97);
      height: auto;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      width: 100%;
      z-index: -2;
  }

  .white-space {
    background: white;
    height: 100%;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 80%;
    top: 10%;
    left: 10%;
    z-index: -1;
  }

  .middle-container {
    margin-left: 7%;
    margin-right: 7%;
  }

  .middle-section .specialFont {
    padding-top: 5%;
    color: rgb(255, 255, 255);
  }

  .card {
    margin-top: 2%;
    margin-bottom: 2%;
  }

  .project-desc {
    text-align: left;
    margin-top: 20%;
  }


  .project-skills {
    display: inline-block;
    border: solid rgb(0, 0, 0) 2px;
    padding: 0 5px;
    margin-top: 1%;

  }

  .col-lg-8 {
    text-align: left;
  }

  .btn-outline-primary {
    color:#000000 ;
    border-color: #2bcff7;
    border-width: 2px;
  }

  .btn-primary {
    color: black;
    background-color:#2bcff7 ;
    border-color: #2bcff7;
    border-width: 2px;
  }

  .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    background-color: #43bad8;
    border-color:#43bad8 ;
    color: black;
  }

  .btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active, .btn-outline-primary.active, .open>.dropdown-toggle.btn-outline-primary {
    background-color: #2bcff7;
    border-color:#2bcff7 ;
    color: black;
  }

  .middle-section h2 {
    margin-top: 16%;
  }

 /**************************** Skills Section *************************/
.skills-section {
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    box-sizing: content-box;
    background: rgb(99, 97, 97);
  }

  .skills-section .specialFont {
    padding-top: 5%;
  }

  .skills-section .h1 {
    color: rgb(26, 225, 240);
    border-style: solid;
    border-width: 2px;
    border-color: rgb(26, 225, 240);
  }

  
  /**************************** Icons *************************/
  
  .social-icon {
    margin-left: 30%;
    color: #000000;
    position: absolute;
  }

  .first-icon {
    bottom: 62%;
  }

  .second-icon {
    bottom: 58%;
  }
  
  .third-icon {
    bottom: 54%;
  }

  /**************************** Sonic Background Section *************************/
    /* Prevent scrollbars to appear when waves go out of bound */
    .sonar-wrapper {
      position: absolute;
      z-index: 0;
      overflow: hidden;
      bottom: 0px;
      width: 100%;
      padding: 4rem;
    }
    
    /* The circle */
    .sonar-emitter {
      position: relative;
      margin: 0 auto;
      width: 75px;
      height: 75px;
      border-radius: 9999px;
      border: solid 2px rgb(255, 255, 255);
    }
    
    /* the 'wave', same shape and size as its parent */
    .sonar-wave {
      position: absolute;
      top: 9px;
      left: 9px;
      width: 75%;
      height: 75%;
      border-radius: 100px;
      background-color: rgb(90, 94, 95);
      opacity: 0;
      z-index: -1;
      pointer-events: none;
    }
    
    /*
        Animation
    */
    .sonar-wave {
      animation: sonarWave 2s linear infinite;
    }
    
    @keyframes sonarWave {
      from {
        opacity: 0.4;
      }
      to {
        transform: scale(2.7);
        opacity: 0;
      }
    }
  
  
    /**************************** Special Fonts *************************/
    
    @font-face {
      font-family: titleFont;
      src: url(../Fonts/SlimJoe.otf);
    }
    
  
  
  /**************************** Responsive Elements *************************/
  
  @media (max-width:992px) {

      .middle-section {
        height: auto;
      }

      .middle-container {
        margin-left: 15%;
        margin-right: 15%;
      }
      
      .project-desc { 
        margin-top: 5%;
      }

      .middle-section h2 {
        margin-top: 20%;
      }   

  }
  
  
  @media (max-width:775px) {
  
    .specialFont {
      font-size: 7vw;
    }
  
    .top-heading {
      font-size: 3.5vw;
    }
  
    hr {
      width: 35%;
    }

    .container-fluid.row-contain {
      position: static;
      margin-top: 35%;
  
    }
    .navbar {
      position: absolute;
    }
  }
  
  @media (max-width:550px) {
    
    .container-fluid.row-contain {
      position: static;
      margin-top: 45%;
    }
  }



  .loader-17{
    width : 75px;
    height: 75px;
    border-radius: 50%;
    display: inline-block;
    border-top:2px solid #FFF;
    border-bottom:2px solid rgb(255, 255, 255);
    animation: rotation .5s linear 4, grow 2s linear 1;
  }


  @keyframes grow {
    0% {width: 75px; height: 75px}
    50% {width: 250px; height: 250px;}
    100% {width: 75px; height: 75px;}
  }

  @keyframes rotation {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .firstSpan {
    position: absolute;
    margin: 0 auto;
  }

  .secondSpan {
    animation: fade 2s linear 1, circle 3s linear 1;
    position: absolute;
    margin: 0 auto;
  }

  .firstDiv {
    position: absolute;
    margin: 0 auto;
    width : 75px;
    height: 75px;
    border-radius: 100%;
    border:2px solid #FFF;
    animation: appear 2s linear 1;
    z-index: 1;
  }


  @keyframes appear {
    0% { opacity: 0; }
    99% {opacity: 0;}
    100% { opacity: 1;}
  }


  @keyframes fade {
    0% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1;}
  }





  



  .Ssection {
    min-width: 300px;
    width: 33.33%;
    height: 300px;
    padding: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ccc;
    cursor: pointer;
    transition: 0.3s linear;
  }