html {
    height: 100%;
    margin: 0;
    background-color: white;
  }

  body {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    background-color: white;
  }
  
  h3 {
    text-align: center;
    padding-top: 2.3rem;
    font-size: 1rem;
  }

  h6 {
    color: rgb(0, 0, 0);
    margin-top: 4px;
  }
  


  
  
  /**************************** General Sections *************************/
  
  .top-section {
      height: 100vh;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      width: 100vw;
      box-sizing: content-box;
      background-color:#ffffff;
  }

    .top-section2 {
      height: 100vh;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 110vw;
      box-sizing: content-box;
      position: relative;
      display: flex;
      background-color: white;
  }


  /* HORIZONTAL SCROLLING GALLERY */
  .container1 {
    width: 300%;
    height: 100%;
    display: flex;
    background-color:#ffffff;
  }

  .project1 {
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%); 
  }

  .project23 {
    position: absolute;
    left:0%;
    top:52%;
    transform: translate(-50%, -50%); 
  }

  .myImage {
    position: absolute;
    right:7%;
    bottom: -2%;
    width:35vw;
  }

  .myImageShadow {
    position: absolute;
    right:7%;
    bottom: -9%;
    width: 35vw;
    height: 46vh;
    /* background: linear-gradient(180deg, #ffffff 4.84%, rgba(255, 255, 255, 0) 99.63%); */
    background: linear-gradient(180deg, #FFFFFF 0.07%, rgba(255, 255, 255, 0.48) 43.38%, rgba(255, 255, 255, 0) 97.25%);
    transform: rotate(-180deg);
  }

  .software {
    position: absolute;
    top: 20vh;
    left: 10vw;
    /* right: 15vw; */
    width: 40vw;
    opacity: 0.4;
  }

  .engineer {
    position: absolute;
    /* top: 35vh; */
    top: 17vh;
    right: 7vw;
    width: 40vw;
    opacity: 0.4;
  }
  
 
  

  /**************************** Nav Section *************************/
  .container-fluid.nav-contain {
    padding: 3% 7% 5%;
  }
  
  .nav-item.nav-selectors {
    padding-left: 1rem;
  }
  
  .nav-item.nav-checkout {
    padding: 0;
  }
  
  .nav-link {
      font-size: 0.9rem;
      font-family: 'Montserrat', 'Monsieur La Doulaise';
      font-weight: 300;
  }

  .navbar.navbar-dark.navbar-expand-lg {
    padding-left: 0;
    padding-right: 0;
  }
  
  .navbar-brand {
    font-family: "Open Sans";
    font-size: 0.9rem;
    letter-spacing: 0.2em;
    font-weight: bold;
  }
  
  .navbar-dark .navbar-brand {
    color: rgb(0, 0, 0);
  }

  .navbar-dark .navbar-brand:hover {
    color: rgb(0, 0, 0);
  }

  
  .navbar-dark .navbar-nav .nav-link {
    color: rgb(0, 0, 0);
  }

  .navbar-dark .navbar-nav .nav-link:hover {
    color: rgb(0, 0, 0);
  }

  
  .logo {
    width: 2vw;
  }

  .logo2 {
    position: absolute;
    left: 16vw;
    top: 11vh;
    z-index: 7;

  }

  #logo {
    position: absolute;
    left:50vw;
    top:8vh;
    transform: translate(-50%, -50%); 
    z-index: 7;
}
  
  
  /**************************** Top Section *************************/
  .top-heading {
    font-family: 'Ubuntu', 'Monsieur La Doulaise';
    font-weight: 200;
    font-size: 1.1rem;
    line-height: 1.5;
    color: rgb(0, 0, 0);
    /* text-align: center; */
  }

  .specialFont {
    font-family: titleFont;
    /* font-size: 4.2rem; */
    font-size: 2.7rem;
    /* text-transform: uppercase; */
    /* text-align: center; */
    color: rgb(0, 0, 0);
  }
  
  .container-fluid.row-contain {
      padding: 3% 12% 7%;
  }
  
  .div-back {
    position: absolute;
    top: 45vh;
    /* width: auto; */
    width: 40vw;
    left:10vw;
  }
  
  .sonar-emitter .nav-link {
    height: 15px;
    width: 45px;
    position: absolute;
    top:30%;
    left: 50%;
    margin-left: -22px;
    z-index: 2;
  }
  
  .center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .icon-bar {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
  }
  
  .icon-bar a:hover {
    background-color: #000;
  }


  
  /**************************** Middle Section *************************/
  
.buttons {
  margin-top: 2vh;
}


 /**************************** Skills Section *************************/

  


  
  /**************************** Sonic Background Section *************************/
  /* Prevent scrollbars to appear when waves go out of bound */
  .sonar-wrapper {
    position: absolute;
    z-index: 0;
    overflow: hidden;
    bottom: 0px;
    width: 100%;
    padding: 4rem;
  }
  

  #section10 a {
    padding-top: 60px;
  }
  #section10 a span {
    position: absolute;
    top:35%;
    left: 50%;
    width: 30px;
    height: 50px;
    margin-left: -15px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 50px;
    box-sizing: border-box;
  }
  #section10 a span::before {
    position: absolute;
    top: 10px;
    left: 50%;
    content: '';
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background-color: rgb(0, 0, 0);
    border-radius: 100%;
    -webkit-animation: sdb10 2s infinite;
    animation: sdb10 2s infinite;
    box-sizing: border-box;
  }

  @-webkit-keyframes sdb10 {
    0% {
      -webkit-transform: translate(0, 0);
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
      -webkit-transform: translate(0, 20px);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes sdb10 {
    0% {
      transform: translate(0, 0);
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
      transform: translate(0, 20px);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  
  /**************************** Special Fonts *************************/
  
  @font-face {
    font-family: titleFont;
    src: url(../Fonts/SlimJoe.otf);
  }
  
  
  
  /**************************** Responsive Elements *************************/
  @media (max-width:1200px) {
    .social-icon {
      margin-left: calc(30%-20px);
    }
  }


  @media (max-width:992px) {

      .middle-section {
        height: auto;
      }

      .middle-container {
        margin-left: 15%;
        margin-right: 15%;
      }
      
      .project-desc { 
        margin-top: 5%;
      }

      .middle-section h2 {
        margin-top: 5%;
      }   

  }
  
  
  @media (max-width:775px) {
  
    .specialFont {
      font-size: 7vw;
    }
  
    .top-heading {
      font-size: 3.5vw;
    }
  
    hr {
      width: 35%;
    }

    .container-fluid.row-contain {
      position: static;
      margin-top: 35%;
  
    }
    .navbar {
      position: absolute;
    }
  }
  
  @media (max-width:550px) {
    
    .container-fluid.row-contain {
      position: static;
      margin-top: 45%;
    }
  }



 